*{
  text-align: center;
}

td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    border-radius: 2px;
  }


  #header {
    font-size: 20px;
  }