<div id="header">Reservation History</div>

<!-- filter in this state -->

<div id="container">
  <div id="mainPage" ng-hide="viewRes">
<p><input type="text" ng-model="lastName"></p>

<!-- <ul>
  <li ng-repeat="x in last | filter:lastName">
    {{ x }}
  </li>
</ul> -->



    <table class="table table-responsive table-bordered">
      <thead>
        <tr>
          <th data-field="checkedIn">Check In</th>
          <th data-field="last">Last Name</th>
          <th data-field="first">First Name</th>
          <th data-field="seats">Seats</th>
          <th data-field="time">Time</th>
          <th data-field="notes">Notes</th>
          <th data-field="update">Update</th>
        </tr>
      </thead>
      <tbody>

        <tr ng-repeat="reserv in reservations track by $index">
          <td>{{reserv.checked}}</td>
          <td id=tableLast>{{reserv.last}}</td>
          <td id=tableLast>{{reserv.first}}</td>
          <td id=tableSeats>{{reserv.seats}}</td>
          <td id=tableTime>{{reserv.time}}</td>
          <td id=tableTime>{{reserv.notes}}</td>
          <td><a class="waves-effect waves-light btn-large" ng-click="editRes(reserv)">Edit</a><a class="waves-effect waves-light btn-large" ng-click="deleteRes(reserv)">Delete</a></td>
        </td>
      </tr>

    </tbody>
  </table>  

</div>
</div>


<!-- second view -->


<div id="container2">
 <div id="detailView" ng-if="viewRes">
   <form ng-submit="saveEdit(viewRes)">
     <button type="submit" class="modal-close">Submit Edit</button>
     <button class="modal-close">Cancel</button><br>
     <label>First Name:</label>
     <input ng-model="viewRes.first" value="" type="text">
     <label>Last Name:</label>
     <input ng-model="viewRes.last" value="" type="text">

     <input ng-model="viewRes.date" value="" type="date">
     <label for="">Time:</label>
     <input ng-model="viewRes.time" value="" type="number">


     <label>Party Size</label>
     <input ng-model="viewRes.seats" value="" type="number">

     <label for="notes">Notes:</label>
     <textarea ng-model="viewRes.notes" cols="9" rows="3"></textarea>


     <input ng-model="viewRes.checked" type="checkbox" id="test5" />
      <label for="test5">Checked in?</label>


     </form>
   </div>
 </div>